body {
    background-color: white;
}

h1 {
    font-family:"Helvetica";
    color: navy;
    margin-left: 20px;
}

.button {
    font-family:"Helvetica";
    margin-left: 20px;
    font-size: 12px;
    border-radius: 2px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}