body {
    background-color: lightblue;
}

h1 {
    font-family:"Helvetica";
    color: navy;
    margin-left: 20px;
}

.button {
    font-family:"Helvetica";
    margin-left: 20px;
    font-size: 12px;
    border-radius: 2px;
}